@mixin bounce-animation {
    @keyframes bounceAnimation {
        0% {
            animation-timing-function: ease-in;
            opacity: 1;
            transform: translateY(-45px);
        }

        24% {
            opacity: 1;
        }

        40% {
            animation-timing-function: ease-in;
            transform: translateY(-24px);
        }

        65% {
            animation-timing-function: ease-in;
            transform: translateY(-12px);
        }

        82% {
            animation-timing-function: ease-in;
            transform: translateY(-6px);
        }

        93% {
            animation-timing-function: ease-in;
            transform: translateY(-4px);
        }

        25%,
        55%,
        75%,
        87% {
            animation-timing-function: ease-out;
            transform: translateY(0px);
        }

        100% {
            animation-timing-function: ease-out;
            opacity: 1;
            transform: translateY(0px);
        }
    }
}

@mixin edge-padding {
    padding-left: .9rem;
    padding-right: .9rem;
}

@mixin section-width {
    max-width: 1400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@mixin small-screens {
    @media (max-width: 768px) {
        @content
    }
}